.tooltip {
    position: absolute;
    visibility: hidden;
    color: white;
    padding: 8px;
    background-color: #626D71;
    border-radius: 6px;
    text-align: left;
    font-family: monospace;
    width: 200px;
}
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}
.axis .domain {
  display: none;
}
.legend {
    font-family: sans-serif;
    font-size: 10px;
    text-anchor: end;
}
.arc.category2 {
    fill: #ccc;
}
.arc.category1 {
    fill: steelblue;
}
